
body {
    background-color: #F4F7EF;
    background-image: url(/images/bg3.png);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 2.5em;
    margin: 0 0 23px 0;
    color: #57585C;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    line-height: 2em;
    margin: 0 0 23px 0;
    color: #57585C;
}

p {
    line-height: 1.5em;
    margin: 0 0 23px 0;
}

a {
    color: #2A8484;
}

a:hover { 
    color: #1EAEDB;
}

time {
    display: block;
    color: #A2A2A2;
    font-size: 0.8em;
    margin-bottom: 1em;
}

#nav {
    padding: 0;
    list-style: none; 
    float: right;
}

#nav li {
    float: left;
    margin-bottom: 1em;
}

#nav li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #ccc; 
    color: #57585C;
}

#nav li a:hover {
    color: #1EAEDB;
}
