
body {
    background-color: #F5F3F3;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 50px;    
    max-width: 750px;
}


h1 {
    font-weight: 400;
    line-height: 1.5em;
    font-size: 2.5em;
    margin: 0 0 23px 0;
    color: #B56919;
}

h2 {
    font-weight: 800;
    font-size: 1.5em;
    line-height: 2em;
    margin: 0 0 0 0;
    color: #753F32;
}

p {
    line-height: 1.5em;
    margin: 0 0 23px 0;
}

a {
    color: #753F32;
}

a:hover { 
    color: #B56919;
}

time {
    display: block;
    color: #A2A2A2;
    font-size: 0.8em;
    margin-bottom: 1em;
}

code {
    color: #B97575;
    font-weight: bold;
    font-family: monospace;
}

#nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#nav li {
    margin-top: 10px;
}

#nav li a {
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #ccc;
    color: #753F32;
}

#nav li a:hover {
    color: #B56919;
}