
body {
    background-color: white;
    font-family: monospace;
    font-size: 1.4em;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    max-width: 750px;
}

pre {
    color: #c0392b;
}

h1 {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0 0 23px 0;
    color: #e67e22;
}

h2 {
    font-weight: bold;
    font-size: 1em;
    line-height: 2em;
    margin: 0 0 0 0;
    color: #c0392b;
}

p {
    line-height: 1.5em;
    margin: 0 0 23px 0;
}

a {
    font-weight: bold;
    color: #753F32;
}

a:hover { 
    color: #B56919;
}

time {
    display: block;
    color: #A2A2A2;
    font-size: 0.8em;
    margin-bottom: 1em;
}

code {
    color: #B97575;
    font-weight: bold;
    font-family: monospace;
}

.contentList {
    list-style: none;   
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
.contentList li:before {
    content: "\00BB \0020";
}

#nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#nav li {
    margin-top: 10px;
}

#nav li a {
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #ccc;
    color: #753F32;
}

#nav li a:hover {
    color: #B56919;
}

#copyright {
    font-size: 1em; text-align: center;
}