body {
    font-size: 1.0em;
    font-family: 'Noticia Text';
    line-height: 1.5em;
    background-color: #ffffff;
}

.contents {
    line-height: 2em;
}

h1, h2, h3, h4 {
    font-family: 'Acme';
    color: #B3AE72;
}

a {
    font-weight: bold;
    color: #5A552C;
}

a:hover {
    background-color: #ffffb1;
}

.nostyle {
    color: black;
    text-decoration: none; /* no underline */
}

a.nostyle:hover {
    background-color: transparent;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

ul li:before {
    content: "\00BB \0020";
}

li time {
    float: right;
}

.writings-list li {
    border-bottom: 1px solid #eee;
}

img{  width: 100%; }

@media (max-width: 600px) {
    .sidebar {
        max-width: 650px;
        margin: 10px 20px 50px;
    }

    .contents {
        max-width: 650px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
}

@media (min-width: 600px) {
    .sidebar {
        position: fixed;
        left: 15px;
        top: 15px;
        width: 80px;
        font-size: 0.8em;
    }

    .contents {
        max-width: 650px;
        margin-left: 120px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
}

.sidebar h1 {
    font-size: 1.2em;
}

#logoBox {
    font-family: 'Acme';
    font-weight: bold;
    font-size: 18px;

    margin: 0;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #202020;
    padding: 14px 12px 2px 12px;
    width: 50px;
    height: 56px;

    background: linear-gradient(-45deg, #F6F6F4, #e7a25d, #b4f665);
    background-size: 800% 800%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.blink {
    animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}