body {
    font-size: 1.25em;
    font-family: 'Raleway', sans-serif;
    line-height: 1.25em;
    background-color: #f3f6fb;
    color: #2e3440;
}

.contents {
    line-height: 1.5em;
}

h1 {
    font-family: 'Bree Serif', serif;
    color: #bf616a;
    line-height: 1em;
}


h2, h3, h4 {
    font-family: 'Bree Serif', serif;
    color: #81363c;
    line-height: 1em;
}

a {
    font-weight: bold;
    color: #434c5e;
}

a:hover {
    background-color: #ebcb8b;
}

.nostyle {
    color: black;
    text-decoration: none; /* no underline */
}

a.nostyle:hover {
    background-color: transparent;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

ul li:before {
    content: "\00BB \0020";
}

li time {
    float: right;
}

.writings-table td {
    border-bottom: 1px solid #ccc;
    padding-right: 1em;
}
.writings-time {
    white-space: nowrap;
}

img{  width: 100%; }

@media (max-width: 800px)  {
    .contents {
        max-width: 1600px;
        margin-left: 15px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    #logoBox {
        display: inline-block;
    }
}

@media (min-width: 800px) {
    .contents {
        max-width: 1600px;
        margin-left: 15px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    #logoBox {
        margin: 0 auto;
    }
}

.sidebar h1 {
    font-size: 1.2em;
}

#logoBox {
    font-family: 'Bree Serif', serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.3em;
    color: #3b4252;

    margin: 0;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
    border: 3px solid #768094;
    padding: 14px 12px 2px 12px;
    width: 60px;
    height: 60px;

    box-shadow: 6px 6px 9px #c0c0c0;
    transition: box-shadow 0.3s;
}

#logoBox:hover {
    box-shadow: 6px 6px 2px #c0c0c0;
}
