<!doctype html>
<html>
<%- include('header.ejs'); %>
<body>

<%- include('sidebar.ejs'); %>

<section class="contents">
    <h1>Writings</h1>
    <p>Pending <span class="blink">conversion</span>.</p>
</section>

</body>
</html>
