<!doctype html>
<html>
<%- include('header.ejs'); %>
<body>

<%- include('sidebar.ejs'); %>

<section class="contents">
    <h1>Games</h1>
    <ul>
        <li><a href="/stuff/dude/">Platformer 2018</a>. Simple proof of concept platforming engine made in Unity 2018.
            Graphics available <a href="https://opengameart.org/content/arcade-platformer-assets">here</a>.
        </li>
        <li><a href="/stuff/mini_circle_wars.html">Mini Circle Wars (2013)</a> My entry to the <a
                href="http://ludumdare.com/compo/ludum-dare-26/">Ludum Dare 26</a>. It's a tower defense game made with
            LibGDX.
        </li>
        <li><a href="/stuff/atoms.zip">Atoms (2000)</a>
            A board game made back in high school inspired by an old public domain board game of the same name for the
            Atari ST. Programmed in C using <a href="https://www.libsdl.org/">libsdl</a> with graphics made in Paint
            Shop Pro 4. Still runs on Windows 10.
        </li>
    </ul>
</section>

</body>
</html>
