<!doctype html>
<html>
<%- include('header.ejs'); %>
<body>

<%- include('sidebar.ejs'); %>

<section class="contents">
    <h1>Experiments</h1>
    <ul>
        <li><a href="https://rawgit.com/kdorland/group_generator/master/index.html">Group Generator</a>.
            Generate random groups of stuff from a custom list.
        </li>
        <li><a href="https://rawgit.com/kdorland/JavaSourcePrinter/master/index.html">Java Source Printer</a>.
            A web based Java code formatter with syntax highlighting using "highlight.js".
        </li>
        <li><a href="/stuff/noise/">Value Noise Generator</a>. An old tool I made to generate cloud like patterns from
            value noise. Could be used to create map like structures for games and such.
        </li>
        <li><a href="/stuff/noise_unity/">Unity Noise 2018</a>. Similar to the above tool, but using Unity and the built
            in noise function (perlin)
        </li>
    </ul>
</section>

</body>
</html>
