<!doctype html>
<html>
<%- include('header.ejs'); %>
<body>

<%- include('sidebar.ejs'); %>

<section class="contents">
    <h1>Writings</h1>

    <ul class="writings-list">
        <li><a href="/writings/unity-2019-oculus-vr-quickstart/">Quick start Guide for Unity 2019 Oculus VR development</a>
            <time datetime="2020-02-26">2020-02-26</time>
        </li>
        <li><a href="/writings/acer-chromebook-314-review/">Acer Chromebook 314 Review</a>
            <time datetime="2020-02-26">2020-02-25</time>
        </li>
    </ul>

</section>

</body>
</html>
